// navstate styles
#navstate-container
    position absolute
    left 0
    top 50%
    transform translateY(-50%)
    padding 5px
    height fit-content
    width: fit-content
    box-sizing: border-box
    color #000
    text-align: left
    background-color #fffc
    border solid 2px blue
    font-size: 12px
    h1 
        font-size 14px
        font-weight: bold
        padding 0
        margin 0
    
#navstatedisplay
    white-space: pre-wrap
    line-height: 130%
